# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.spec
*.manifest

# Virtual environments
venv/
env/
.venv/

# PyInstaller
*.exe

# Temp files
*.tmp
*.log
*.bak
~$*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
